.footer .footer-hero {
  margin-right: 93px;
}

.footer-hero b {
  display: block;
  margin-bottom: 20px;

  font-family: Roboto;
  /* font-style: normal; */
  /* font-weight: 700; */
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $text-white-color;
}
